@charset "UTF-8";
/*
Theme Name: Wamego Health Center
Theme URI: http://502mediagroup.com
Author: 502 Media Group
Author URI: http://502mediagroup.com/
Description: Hi. I'm a starter theme called <code>Wamego Health Center</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Wamego Health Center
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Wamego Health Center is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
--------------------------------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  box-sizing: border-box; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  box-sizing: border-box;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.clearfix::after, .clear::after {
  clear: both;
  content: "";
  display: table; }

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets */ }
  .widget select {
    max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

.sweet-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 1000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 2000; }
  @media all and (max-width: 540px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  .sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative; }
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    margin: 0;
    line-height: normal; }
  .sweet-alert button {
    background-color: #AEDEF4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #a1d9f2; }
    .sweet-alert button:active {
      background-color: #81ccee; }
    .sweet-alert button.cancel {
      background-color: #D0D0D0; }
      .sweet-alert button.cancel:hover {
        background-color: #c8c8c8; }
      .sweet-alert button.cancel:active {
        background-color: #b6b6b6; }
      .sweet-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  .sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .sweet-alert .icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box; }
    .sweet-alert .icon.error {
      border-color: #F27474; }
      .sweet-alert .icon.error .x-mark {
        position: relative;
        display: block; }
      .sweet-alert .icon.error .line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .sweet-alert .icon.error .line.left {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
          left: 17px; }
        .sweet-alert .icon.error .line.right {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
          right: 16px; }
    .sweet-alert .icon.warning {
      border-color: #F8BB86; }
      .sweet-alert .icon.warning .body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      .sweet-alert .icon.warning .dot {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    .sweet-alert .icon.info {
      border-color: #C9DAE1; }
      .sweet-alert .icon.info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #C9DAE1; }
      .sweet-alert .icon.info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #C9DAE1; }
    .sweet-alert .icon.success {
      border-color: #A5DC86; }
      .sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
      .sweet-alert .icon.success::before {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        -ms-transform-origin: 60px 60px;
            transform-origin: 60px 60px; }
      .sweet-alert .icon.success::after {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        -ms-transform-origin: 0px 60px;
            transform-origin: 0px 60px; }
      .sweet-alert .icon.success .placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        border-radius: 50%;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      .sweet-alert .icon.success .fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
      .sweet-alert .icon.success .line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        .sweet-alert .icon.success .line.tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
        .sweet-alert .icon.success .line.long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .sweet-alert .icon.custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.hideSweetAlert {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.icon.success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

/*@include keyframes(simpleRotate) {
	0%		{ transform: rotateY(0deg);    }
  100% 	{ transform: rotateY(-360deg); }
}
.simpleRotate {
	@include animation('simpleRotate 0.75s');
}*/
@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

.sweet-alert h2 {
  text-transform: uppercase; }
.sweet-alert button {
  background-color: #0F56C9 !important; }

/*--------------------------------------------------------------
Everything Else
--------------------------------------------------------------*/
html {
  font-size: 16px;
  line-height: 1.5;
  background: #eee;
  font-family: 'Cantarell', sans-serif; }

body {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #0F56C9;
  font-family: 'Droid Sans', sans-serif;
  margin-bottom: 1rem; }

strong {
  font-weight: 700; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  color: #0F56C9;
  -webkit-transition: color .2s ease;
          transition: color .2s ease; }

.button, input[type="submit"] {
  padding: .5rem;
  background-color: #80AD35;
  color: #fff;
  border-radius: 6px; }
  .button:hover, input[type="submit"]:hover {
    color: #fff;
    background: #72992f; }
  .button a, input[type="submit"] a {
    color: #fff; }

body {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

.blue {
  color: #0F56C9; }

#page::after {
  clear: both;
  content: "";
  display: table; }

#masthead {
  max-width: 75rem;
  padding: 1rem;
  background: #fff;
  position: absolute;
  box-shadow: 0 6px 25px -9px #333;
  margin: 0 auto;
  top: 0;
  z-index: 2; }
  #masthead::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 40rem) {
    #masthead {
      position: fixed; } }
  #masthead .site-branding {
    width: 75%;
    margin: 0 auto; }
    @media screen and (min-width: 40rem) {
      #masthead .site-branding {
        margin: 0;
        width: 32.2033898305%;
        float: left;
        margin-right: 1.6949152542%; } }
  #masthead .address {
    display: inline-block;
    position: absolute;
    top: .5rem;
    right: 1em;
    text-align: right; }
    @media screen and (max-width: 1000px) {
      #masthead .address br:first-child {
        display: none; } }
    @media screen and (max-width: 40rem) {
      #masthead .address {
        position: static;
        text-align: center;
        display: block;
        margin-top: 1em; } }

.admin-bar #masthead {
  top: 32px; }

@media screen and (max-width: 782px) {
  .admin-bar #masthead {
    top: 46px; } }
#site-navigation {
  position: relative;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }
  @media screen and (min-width: 40rem) {
    #site-navigation {
      top: 4rem;
      width: 100%;
      float: right;
      top: -2rem;
      margin-bottom: -4.5rem;
      text-align: right; }
      #site-navigation .menu-toggle {
        display: none; } }
  #site-navigation ul {
    list-style: none;
    margin: 0;
    display: inline;
    text-transform: uppercase;
    vertical-align: middle; }
    #site-navigation ul li {
      display: inline;
      margin-left: .75rem; }
  #site-navigation a {
    color: #fff; }
    #site-navigation a:hover {
      color: #999; }
  #site-navigation .menu-toggle {
    font-size: .75rem;
    background: #0F56C9;
    font-family: 'Cantarell'; }
    #site-navigation .menu-toggle:hover {
      background: #357cf0; }
  #site-navigation #secondary-menu {
    display: none; }
    #site-navigation #secondary-menu.shown {
      display: block; }
    @media screen and (min-width: 40rem) {
      #site-navigation #secondary-menu {
        display: block; } }
  #site-navigation #secondary-menu a {
    color: #80AD35;
    font-size: .75rem; }
    #site-navigation #secondary-menu a:hover {
      color: #72992f; }
  #site-navigation #nav-search {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    background: #357cf0;
    padding: .25rem;
    border-radius: 6px;
    -webkit-transition: all .4s ease;
            transition: all .4s ease;
    box-sizing: content-box; }
    #site-navigation #nav-search input {
      background: #357cf0;
      border-radius: 0;
      border: none;
      margin: 0;
      height: 24px;
      display: inline;
      padding: 0;
      color: white;
      width: auto;
      -webkit-transition: all .4s ease;
              transition: all .4s ease; }
      @media screen and (max-width: 75rem) {
        #site-navigation #nav-search input {
          width: 5rem; } }
      #site-navigation #nav-search input::-webkit-input-placeholder {
        color: white; }
    #site-navigation #nav-search span {
      padding-right: .5rem;
      margin-right: .5rem;
      border-right: 1px solid #0F56C9;
      vertical-align: middle; }
      #site-navigation #nav-search span svg {
        vertical-align: middle;
        width: 15px;
        height: 20px;
        position: relative;
        bottom: 2px; }
  #site-navigation .nav-bar {
    display: none;
    background: #0F56C9;
    box-shadow: 0 6px 25px -9px #333;
    padding: .5rem .5rem;
    border-radius: 10px;
    position: relative;
    margin-top: .5rem; }
    #site-navigation .nav-bar::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 40rem) {
      #site-navigation .nav-bar {
        left: .5rem;
        display: inline-block; } }
    #site-navigation .nav-bar.shown {
      display: inline-block; }

#content::after {
  clear: both;
  content: "";
  display: table; }
@media screen and (min-width: 40rem) {
  #content {
    margin-top: 8.25rem; } }

#primary, #secondary {
  padding: 2rem; }
  #primary::after, #secondary::after {
    clear: both;
    content: "";
    display: table; }

#main {
  margin-top: 2rem; }
  #main::after {
    clear: both;
    content: "";
    display: table; }

#colophon {
  background: #333;
  background: #0F56C9;
  color: #fff;
  padding: 1rem 2rem 2rem;
  text-align: center; }
  #colophon .third {
    text-align: left; }
    @media screen and (min-width: 600px) {
      #colophon .third {
        width: 32.2033898305%;
        float: left;
        margin-right: 1.6949152542%; } }
    #colophon .third:last-of-type {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; }
  #colophon .widget-title {
    color: #fff; }
  #colophon .widget a {
    color: #80AD35; }
  #colophon .site-info {
    border-top: 2px solid #999;
    border-top: 1px solid #fff;
    padding-top: 1rem;
    color: #FFF; }
    #colophon .site-info .menu {
      margin: 0;
      margin-top: 1rem;
      list-style: none; }
      #colophon .site-info .menu li {
        padding-left: .5rem;
        margin-left: .5rem; }
      #colophon .site-info .menu a {
        color: #FFF; }
        #colophon .site-info .menu a:hover {
          color: #b3b3b3; }
    @media screen and (min-width: 40rem) {
      #colophon .site-info {
        display: block;
        text-align: center;
        padding-top: .25rem;
        width: 95%;
        margin: 0 auto; }
        #colophon .site-info div {
          display: inline; }
        #colophon .site-info .menu {
          margin: 0;
          list-style: none;
          display: inline-block; }
          #colophon .site-info .menu li {
            display: inline;
            padding-left: .5rem;
            margin-left: .5rem;
            border-left: 1px solid #999;
            border-left: 1px solid #fff; } }
  #colophon section {
    width: 75%;
    margin: 0 auto 1rem; }
    #colophon section::after {
      clear: both;
      content: "";
      display: table; }
    #colophon section aside {
      margin-bottom: 1rem;
      text-align: left;
      font-size: .8rem; }
      @media screen and (min-width: 40rem) {
        #colophon section aside {
          width: 20%;
          float: left;
          margin-left: 2.5%;
          margin-right: 2.5%; } }
      #colophon section aside ul {
        margin: 0;
        list-style: none; }
      #colophon section aside h6 {
        color: #80AD35; }
      #colophon section aside a {
        color: #fff; }
        #colophon section aside a:hover {
          color: #999; }

.hero-cta {
  text-align: center;
  box-shadow: 0 3px 8px -5px #333;
  padding-top: 1rem; }
  .hero-cta::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 40rem) {
    .hero-cta {
      padding: 1rem; } }
  .hero-cta > span {
    display: block;
    margin: 0 auto;
    position: relative; }
    .hero-cta > span::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 40rem) {
      .hero-cta > span {
        width: 75%; } }
  .hero-cta a {
    display: block;
    margin-bottom: 1rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 .5rem; }
    @media screen and (min-width: 40rem) {
      .hero-cta a {
        width: 33.3333333333%;
        float: left;
        margin-bottom: 0; } }
    .hero-cta a::after {
      clear: both;
      content: "";
      display: table; }
    .hero-cta a svg {
      color: #0F56C9;
      vertical-align: middle;
      margin-right: .5rem; }
      .hero-cta a svg + span {
        position: relative;
        top: .5rem; }
    @media screen and (min-width: 40rem) and (max-width: 1144px) {
      .hero-cta a span, .hero-cta a svg {
        display: block;
        margin: 0 auto; } }

.home .conditions::after {
  clear: both;
  content: "";
  display: table; }
.home .conditions ul {
  margin: 0;
  width: 44.4444444444%;
  float: left;
  margin-left: 11.1111111111%;
  list-style: none; }
  .home .conditions ul:first-child {
    width: 44.4444444444%;
    float: left;
    margin-left: 0; }
.home .conditions + p {
  margin-top: 1rem; }
  .home .conditions + p::after {
    clear: both;
    content: "";
    display: table; }
  .home .conditions + p a {
    color: #999; }
@media screen and (min-width: 40rem) {
  .home .news .hentry {
    width: 44.4444444444%;
    float: left;
    margin-right: 11.1111111111%; }
    .home .news .hentry:last-child {
      width: 44.4444444444%;
      float: right;
      margin-right: 0; } }
.home .news h5 a {
  color: #80AD35; }
.home .news .image-link {
  display: block;
  border: none;
  text-decoration: none; }
.home .news img {
  margin-bottom: 1rem; }
.home .events {
  margin-bottom: 2rem; }
  .home .events ul {
    list-style: none;
    margin: 0; }
  .home .events li {
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #80AD35; }
    .home .events li::after {
      clear: both;
      content: "";
      display: table; }
    .home .events li .date {
      color: #80AD35;
      display: inline-block;
      background: #f2f2f2;
      padding: .5rem;
      font-weight: 700;
      margin-right: 1rem; }
  .home .events > a {
    color: #999; }

@media screen and (min-width: 40rem) {
  body.page .sidebar-2 {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%; } }

body.page .page-nav {
  background: #f2f2f2;
  margin-bottom: 2rem; }
  body.page .page-nav a {
    padding: .5rem 1rem;
    display: block;
    font-weight: 700; }
    body.page .page-nav a.current {
      color: white;
      background: #999; }
    body.page .page-nav a.child:before {
      content: "\2014\2003"; }
    body.page .page-nav a.grandchild:before {
      content: "\2014\2014\2003"; }

@media screen and (min-width: 40rem) {
  body.page article.page {
    width: 66.1016949153%;
    float: right;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%; } }

#secondary h1 {
  font-size: 1.5rem; }
#secondary .widget {
  background: #f2f2f2;
  padding: 1rem; }
  #secondary .widget ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #secondary .widget ul li {
      padding: .5rem 0; }
      #secondary .widget ul li + li {
        border-top: 1px solid #DDD; }

@media screen and (min-width: 40rem) {
  body.blog #primary {
    width: 66.1016949153%;
    float: left;
    margin-right: 1.6949152542%; }
  body.blog #secondary {
    width: 32.2033898305%;
    float: right;
    margin-right: 0;
    margin-top: 2rem; } }
body.blog .hentry + .hentry {
  border-top: 2px solid #DDD;
  padding-top: 1rem; }
body.blog .wp-post-image {
  display: block;
  width: 100%;
  height: auto; }

#comments {
  margin-top: 2rem;
  border-top: 5px solid #0F56C9;
  padding-top: 1rem; }
  #comments .avatar {
    width: 4rem;
    float: left;
    margin-right: 1rem; }
  #comments .comment-list {
    list-style: none;
    margin-left: 0; }
  #comments .comment article {
    padding: 1rem;
    margin-bottom: 1rem;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #e8c842; }
  #comments .comment-author-admin article {
    background: #f2f7fe;
    border-left-color: #0F56C9; }

@media screen and (min-width: 40rem) {
  body.single:not(.single-whc_doctors) #primary {
    width: 66.1016949153%;
    float: left;
    margin-right: 1.6949152542%; }
  body.single:not(.single-whc_doctors) #secondary {
    width: 32.2033898305%;
    float: right;
    margin-right: 0;
    margin-top: 2rem; } }

#doctors .doctor {
  border-bottom: 4px solid #0F56C9;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }
  #doctors .doctor .title {
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  #doctors .doctor img {
    float: left;
    padding-right: 2rem; }

.single-doctor .doctor-headshot {
  float: left;
  margin-right: 2em; }

.outpatient-schedule thead {
  background: #0F56C9;
  color: white; }
  .outpatient-schedule thead td {
    text-align: center; }
.outpatient-schedule tbody td {
  border: 1px solid #DDD;
  padding: .25em; }
  .outpatient-schedule tbody td p {
    line-height: 1;
    margin: 0.5em 0; }
  .outpatient-schedule tbody td.phone, .outpatient-schedule tbody td.clinic-dates {
    text-align: center; }
.outpatient-schedule .small {
  font-size: 75%;
  font-weight: bold; }

.accepting-patients {
  background: #80AD35;
  padding: .5em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px; }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 2em;
  width: auto;
  max-width: 310px;
  margin: 1em auto; }
  .white-popup .popup-title {
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #0F56C9;
    font-family: 'Droid Sans', sans-serif; }
  .white-popup .chart-img {
    text-align: center;
    margin: 1em auto;
    display: block; }
