#comments {
	margin-top: 2rem;
	border-top: 5px solid $blue;
	padding-top: 1rem;
	
	.avatar {
		width: 4rem;
		float: left;
		margin-right: 1rem;
	}
	
	.comment-list {
		list-style: none;
		margin-left: 0;
	}
	.comment article {
		padding: 1rem;
		margin-bottom: 1rem;
		border-left-width: 3px;
		border-left-style: solid;
		border-left-color: $yellow;
	}
	
	.comment-author-admin article {
		background: lighten($blue, 55%);
		border-left-color: $blue;
	}
	
	
}