#colophon {
	background: #333;
	background: $blue;
	color: #fff;
	padding: 1rem 2rem 2rem;
	text-align: center;

	.third {
		text-align: left;
		@media screen and (min-width: 600px){
			@include span(4);
		}
		&:last-of-type {
			@include span(last 4);
		}
	}

	.widget-title {
		color: #fff;
	}

	.widget {
		a {
			color: $green;
		}
	}

	.site-info {
		border-top: 2px solid #999;
		border-top: 1px solid #fff;
		padding-top: 1rem;
		color: #FFF;
		.menu {
			margin: 0;
			margin-top: 1rem;
			list-style: none;
			li {
				padding-left: .5rem;
				margin-left: .5rem;
			}
			a {
				color: #FFF;
				&:hover {
					color: lighten(#999, 10%);
				}
			}
		}
		@media screen and (min-width: 40rem){
			display: block;
			text-align: center;
			padding-top: .25rem;
			width: 95%;
			margin: 0 auto;
			div {
				display: inline;
			}
			.menu {
				margin: 0;
				list-style: none;
				display: inline-block;
				li {
					display: inline;
					padding-left: .5rem;
					margin-left: .5rem;
					border-left: 1px solid #999;
					border-left: 1px solid #fff;
				}
			}
		} // End @media
		
	}// End .site-info
	
	section {
		@include clearfix;
		width: 75%;
		margin: 0 auto 1rem;
		aside {
			@media screen and (min-width: 40rem){
				@include span(1 of 4 split);	
			}
			margin-bottom: 1rem;
			text-align: left;
			font-size: .8rem;
			ul { 
				margin: 0;
				list-style: none; 
			}
			h6	 { color: $green; }
			a { color: #fff; &:hover { color: #999; } }
		}
	}
	
}