#masthead {
	max-width: container();
	@include clearfix;
	padding: 1rem;
	background: #fff;
	position: absolute;
	box-shadow: 0 6px 25px -9px #333;
	margin: 0 auto;
	top: 0;
	z-index: 2;
	@media screen and (min-width: 40rem){
		position: fixed;
	}
	.site-branding {
		width: 75%;
		margin: 0 auto; // FLAG
		@media screen and (min-width: 40rem){
			margin: 0; // FLAG
			@include span(4);
		}
	}

	.address {
		display: inline-block;
		position: absolute;
		top: .5rem;
		right: 1em;
		text-align: right;

		@media screen and (max-width: 1000px){
			br:first-child {
				display: none;
			}
		}

		@media screen and ( max-width: 40rem ){
			position: static;
			text-align: center;
			display: block;
			margin-top: 1em;
		}
	}
}
.admin-bar #masthead {
	top: 32px;
}
@media screen and (max-width: 782px){
	.admin-bar #masthead {
		top: 46px;
	}
}
#site-navigation {
	//@include span(last 8);
	@media screen and (min-width: 40rem){
		top: 4rem;
		// Cool Fix
		width: 100%;
		float: right;
		top: -2rem;
		margin-bottom: -4.5rem;
		// End Cool Fix
		text-align: right;
		.menu-toggle {
			display: none;
		}
	}
	position: relative;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	
	ul {
		list-style: none;
		margin: 0;
		display: inline;
		text-transform: uppercase;
		vertical-align: middle;
		li {
			display: inline;
			margin-left: .75rem;
		}
	}
	a { color: #fff; &:hover { color: #999; } }
	.menu-toggle {
		//position: absolute;
		font-size: .75rem;
		//top: -4.5rem;
		//right: 0;
		background: $blue;
		font-family: 'Cantarell';
		&:hover { background: lighten($blue, 15%); }
	}
	#secondary-menu { 
		display: none;
		&.shown {
			display: block;
		}
		@media screen and (min-width: 40rem){ 
			display: block; 
		} 
	}
	#secondary-menu a { color: $green; font-size: .75rem; &:hover { color: darken($green, 5%); } }
	#nav-search {
		margin-left: 1rem;
		display: inline-block;
		vertical-align: middle;
		background: lighten($blue, 15%);
		padding: .25rem;
		border-radius: 6px;
		transition: all .4s ease;
		box-sizing: content-box;
		// width: 6%;
		// max-width: 215px;
		input {
			background: lighten($blue, 15%);
			border-radius: 0;
			border: none;
			margin: 0; 
			height: 24px;
			display: inline;
			padding: 0;
			color: white;
			width: auto;
			@media screen and (max-width: container() ){
				width: 5rem;
			}
			transition: all .4s ease;
			&::-webkit-input-placeholder{
				color: white;
			}
		}
		span {
			padding-right: .5rem;
			margin-right: .5rem;
			border-right: 1px solid $blue;
			vertical-align: middle;
			svg { 
				vertical-align: middle; 
				width: 15px; 
				height: 20px;
				position: relative;
				bottom: 2px;
			}
		}
		// .nav-search:focus {
		// 	width: 80%;
		// }
	}
	.nav-bar {
		display: none;
		background: $blue;
		box-shadow: 0 6px 25px -9px #333;
		padding: .5rem .5rem;
		border-radius: 10px;
		position: relative;
		margin-top: .5rem;
		@include clearfix;
		@media screen and (min-width: 40rem){
			left: .5rem;
			display: inline-block;
		}
		&.shown {
			display: inline-block;
		}
	}
}