/*
Theme Name: Wamego Health Center
Theme URI: http://502mediagroup.com
Author: 502 Media Group
Author URI: http://502mediagroup.com/
Description: Hi. I'm a starter theme called <code>Wamego Health Center</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Wamego Health Center
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Wamego Health Center is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
--------------------------------------------------------------*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "reset";
@import 'susy';
@import 'bourbon';
@import 'base/base';
@import "elements/elements";
@import "modules/accessibility";
@import "modules/alignments";
// @import "modules/clearings";
.clearfix, .clear {
	@include clearfix;
}
@import "site/secondary/widgets";
@import "site/site";
// @import "modules/infinite-scroll";
@import "media/media";
@import "sweet-alert";
.sweet-alert {
	h2 {
		text-transform: uppercase;
	}
	button{
		background-color: #0F56C9 !important;
	}
}
	

// VARS
$blue : #0F56C9;
$green : #80AD35;
$yellow : #e8c842;


/*--------------------------------------------------------------
Everything Else
--------------------------------------------------------------*/
html {
	font-size: 16px;
	line-height: 1.5;
	background: #eee;
	font-family: 'Cantarell', sans-serif;
}
body { 
	font-size: 1rem;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	text-transform: uppercase;
	color: $blue;
	font-family: 'Droid Sans', sans-serif;
	margin-bottom: 1rem;
}

strong {
	font-weight: 700;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	color: $blue;
	transition: color .2s ease;
}
.button, input[type="submit"] {
	padding: .5rem;
	background-color: $green;
	color: #fff;
	border-radius: 6px;
	&:hover {
		color: #fff;
		background: darken($green, 5%);
	}
	a {
		color: #fff;
	}
}

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 75rem,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  use-custom: (
     box-sizing: false
   )
);

body {
	@include container();
}

.blue {
	color: $blue;
}

#page {
	@include clearfix;
}

@import "header";


#content {
	@include clearfix;
	@media screen and (min-width: 40rem){
		margin-top: 8.25rem;
	}
}

#primary, #secondary {
	padding: 2rem;
	@include clearfix;
}

#main {
	@include clearfix;
	margin-top: 2rem;
}

@import "footer";




// Home Page
.hero-cta {
	text-align: center;
	// height: 6rem;
	@include clearfix;
	box-shadow: 0 3px 8px -5px #333;
	padding-top: 1rem;
	@media screen and (min-width: 40rem){
		padding: 1rem;
	}
	> span { 
		@include clearfix; 
		display: block; 
		margin: 0 auto; 
		@media screen and (min-width: 40rem){
			width: 75%;
		}
		position: relative;
	}
	a {
		display: block;
		margin-bottom: 1rem;
		@media screen and (min-width: 40rem){
			@include span(1 of 3 split wide no-gutters);
			margin-bottom: 0;
		}
		@include clearfix;
		color: #333;
		text-transform: uppercase;
		font-weight: 700;
		padding: 0 .5rem;
		// border-right: 1px solid #f2f2f2;
		&:hover {
			// background: #f2f2f2;
		}
		svg {
			color: $blue;
			vertical-align: middle;
			margin-right: .5rem;
			& + span {
				position: relative;
				top: .5rem;
			}
		}
		@media screen and (min-width: 40rem) and (max-width: 1144px){
			span, svg {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
.home {
	#main {
		// section{
		// 	@media screen and (min-width: 40rem){
		// 		@include span(1 of 2);
		// 		&:last-child { @include span(last 1 of 2); }
		// 	}
		// }
	}
	.conditions {
		@include clearfix;
		ul {
			margin: 0;
			@include span(1 of 2 before);
			&:first-child { 
				@include span(first 1 of 2 before);
			}
			list-style: none;
		}
		& + p {
			@include clearfix;
			margin-top: 1rem;
			a { color: #999; }
		}
	}
	.news {

		.hentry {
			@media screen and (min-width: 40rem){
				@include span(1 of 2);
				&:last-child { @include span(last 1 of 2); }
			}
		}
		
		h5 a{
			color: $green;
		}
		.image-link {
			display: block;
			border: none;
			text-decoration: none;
		}

		img {
			margin-bottom: 1rem;
		}
	}
	.events {
		// background: #f2f2f2;
		margin-bottom: 2rem;
		ul { 
			list-style: none; 
			margin: 0;
		}
		li {
			//padding: .5rem 0;
			@include clearfix;
			overflow: hidden;
			margin-bottom: 1rem;
			// border-bottom: 1px solid #e6e6e6;
			border-radius: 10px;
			border: 1px solid $green;
			//&:last-child { border-bottom: none; }
			.date {
				color: $green;
				display: inline-block;
				background: #f2f2f2;
				padding: .5rem;
				font-weight: 700;
				margin-right: 1rem;
			}
		}
		> a {
			color: #999;
		}
	}
}

// Page Styles
body.page .sidebar-2 {
	@media screen and (min-width: 40rem){
		@include span(4);
	}	
}
body.page .page-nav { 
	background: #f2f2f2;
	margin-bottom: 2rem; 
	a { 
		padding: .5rem 1rem; 
		display: block; 
		font-weight: 700;
		&.current { color: white; background: #999; }
		&.child:before { content: "\2014\2003"; }
		&.grandchild:before { content: "\2014\2014\2003"; }
	}
}
body.page article.page { 
	@media screen and (min-width: 40rem){
		@include span(last 8);
		// I don't know why this works
		@include gutters(2 inside);
	}
}


// Sidebar Styles
#secondary {

	h1 {
		font-size: 1.5rem;
	}

	.widget {
		background: #f2f2f2;
		padding: 1rem;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding: .5rem 0;

				+ li {
					border-top: 1px solid #DDD;
				}
			}
		}
	}
}




// Blog Styles
body.blog {
	@media screen and (min-width: 40rem){
		#primary {
			@include span(8);
		}
		#secondary {
			@include span(last 4);
			margin-top: 2rem;
		}
	}

	.hentry + .hentry {
		border-top: 2px solid #DDD;
		padding-top: 1rem;
	}

	.wp-post-image {
		display: block;
		width: 100%;
		height: auto;
	}
}

@import "comments";


// Single Styles
body.single:not(.single-whc_doctors) {
	@media screen and (min-width: 40rem){
		#primary {
			@include span(8);
		}
		#secondary {
			@include span(last 4);
			margin-top: 2rem;
		}
	}
}



#doctors {

	.doctor {
		border-bottom: 4px solid $blue;
		padding-bottom: 2rem;
		margin-bottom: 2rem;

		.title {
			font-weight: 700;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		img {
			float: left;
			padding-right: 2rem;
		}

	}

}

.single-doctor {

	.doctor-headshot {
		float: left;
		margin-right: 2em;
	}
}


.outpatient-schedule {
	
	thead {
		background: $blue;
		color: white;

		td {
			text-align: center;
		}
	}

	tbody {

		td {
			border: 1px solid #DDD;
			padding: .25em;

			p {
				line-height: 1;
				margin: .5em 0
			}

			&.phone, &.clinic-dates {
				text-align: center;
			}
		}
	}


	.small {
		font-size: 75%;
		font-weight: bold;
	}
}

.accepting-patients {
	background: $green;
	padding: .5em;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
}


.white-popup {
  position: relative;
  background: #FFF;
  padding: 2em;
  width: auto;
  max-width: 310px;
  margin: 1em auto;

  .popup-title {
  	font-size: 1.5rem;
  	margin-bottom: 1em;
  	font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $blue;
    font-family: 'Droid Sans', sans-serif;
  }

  .chart-img {
  	text-align: center;
  	margin: 1em auto;
  	display: block;
  }
}
